
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Django spammer</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="/static/css/cover.css" rel="stylesheet" type="text/css">


</head>
  <body class="d-flex h-100 text-center text-white bg-dark">
  
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Welcome to the Django Mailgun Spammer</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Preview</a>
      </nav>
    </div>
  </header>
  
  {% if user.is_authenticated %}
      <form>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">E-mail address</label>
            <div class="col-sm-10">
                <input type="emailaddress" class="form-control" id="inputEmail" placeholder="name@example.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">E-mail title</label>
            <div class="col-sm-10">
                <input type="rssurl" class="form-control" id="inputRSS" placeholder="Latest news!">
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Content</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
      </form>


      <label for="appt">Choose a time for e-mail distribution:</label>

      <input type="time" id="appt" name="appt"
      min="00:00" max="24:00" required>
      

            <label for="start">Start date:</label>

            <input type="date" id="start" name="trip-start"
            value="2021-01-01"
            min="2021-01-01" max="2099-12-31">

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option1" autocomplete="off">SAVE
              </label>
              <label class="btn btn-info">
                <input type="radio" name="options" id="option2" autocomplete="off">PREVIEW
              </label>
              <label class="btn btn-danger">
                <input type="radio" name="options" id="option3" autocomplete="off">SEND
              </label>
            </div>


      <footer class="mt-auto text-white-50">
      </footer>
    </div>
  {% else %}
  {% endif %}
  </body>
</html>
