<!doctype html>
{% load static %}
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <base href="/">
    <title>Django spammer</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">


</head>
  <body class="d-flex h-100 text-center text-white bg-dark">
  
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Welcome to the Django Mailgun Spammer</h3>
    </div>
  </header>
  
  {% if user.is_authenticated %}
      <form action="/success/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">E-mail address</label>
            <div class="col-sm-10">
                <input type="emailaddress" class="form-control" id="inputEmail" placeholder="name@example.com" name="address">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">E-mail title</label>
            <div class="col-sm-10">
                <input type="rssurl" class="form-control" id="inputRSS" placeholder="Latest news!" name="title">
            </div>
        </div>
        <div class="input-group">
          <label class="col-sm-2 col-form-label">Content</label>
          <div class="col-sm-10">
            <textarea class="form-control" aria-label="With textarea" name="content"></textarea>
          </div>
        </div>
        <div class="input-group">
          <label class="col-sm-2 col-form-label">Image</label>
          <input type="file" id="image" name="image" accept="image/png, image/jpeg">
        </div>
        <div class="form-group row">
          <label for="appt">Choose an hour for your e-mail distribution (value between 1 and 24):</label>
          <input type="number" id="appt" min="1" max="24" step="1" name="hour"/>
        </div>
          <div class="form-group row">
            <label for="start">Start date:</label>
            <input type="date" id="start" value="2021-01-01" min="2021-01-01" max="2099-12-31" name="date">
          </div>
        <div class="form-group row">
          <div class="btn-group btn-group-toggle">
            <input type="submit" class="btn btn-outline-primary" value="Submit"></input>
          </div>
        </div>
      </form>
      {% block content %}
      <h5 class="float-md-start mb-0">Your scheduled emails:</h5>
      {% for mail in mails %}
        <div class="card">
            <p><b>Title:</b> {{ mail.title }} <b>Date</b>: {{ mail.date }} <b>Hour</b>: {{ mail.hour }}</p>
        </div>
      {% endfor %}
      {% endblock %}
      <footer class="mt-auto text-white-50">
      </footer>
    </div>
  {% else %}
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <a class="btn btn-outline-primary" href="login" role="button">Login</a>
    <a class="btn btn-outline-secondary" href="register" role="button">Register</a>
  </div>
  {% endif %}
  </body>
</html>
